* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.darkMode {
  min-height: 100vh;
  color: white;
  background-color: black;
}

.lightMode {
  min-height: 100vh;
  background-color: lightgray;
  color: black;
}